nav img
{
    height:50px;
    margin-left:10%;
    padding:0;
}

nav a
{
    font-size:1.5rem;
}

nav ul li a
{
    margin-left:30px;
}

body > div
{
    position:relative;
    top:90px;
}

#nav-bottom
{
    margin:0;
    width:520px;
}

#nav-bottom li a
{
    text-decoration:none;
}

#login-card
{
    width:400px;
    margin-bottom:55px;
}

nav:nth-of-type(1)
{
    display:inline-box;
}

#form-1 > div:nth-of-type(1)
{
    margin-top:20px;
}

#form-1 > div div label
{
    display:block;
}

#form-1 > div div label span
{
    font-size:1rem;
}

#form-1 > div.form-check label:nth-of-type(1)
{
    display:block;
    float:left;
}

#form-1 > div.form-check label:nth-of-type(2)
{
    display:block;
    float:right;
}

#form-1 > div.form-check label span
{
    font-size:1rem;
}

.clear
{
    clear:both;
}

#login-ensure
{
    margin-top:10px;
}

#register form > div
{
    margin-top:20px;
}

#register form > div label span
{
    font-size:1.4rem;
}

#register form > div.form-check label
{
    display:block;
    width:30%;
}

#register form > div.form-check label span
{
    font-size:1rem;
}

#register form > div input
{
    margin-top:2px;
}

#pwd-advice
{
    font-size:1rem;
    color:red;
    font-weight:bold;
}

#register-ensure
{
    margin-top:20px;
}