#nav
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-width:800px;
    height:76px;
    box-sizing:border-box;
    z-index:2;
    background-color:rgb(248,249,250);
}

#nav img
{
    height:50px;
    margin-left:33px;
    margin-top:13px;
    padding:0;
    display:block;
    float:left;
}

#nav .nav-link
{
    display:inline-block;
}

#nav .nav-link a
{
    display:block;
    font-size:2.4rem;
    margin-left:42px;
    padding-top:20px;
    float:left;
    color:rgb(124, 124, 125);
}

#nav .nav-link a:hover
{
    color:rgb(74, 74, 75);
    text-decoration:none;
}

#head
{
    margin-top:60px;
    padding-top:60px;
    background-image:url("../images/background9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:40px;
    /* filter: blur(3px); */
}

#title
{
    text-align:center;
    color:whitesmoke;
}

#title + p
{
    text-align:center;
    font-size:1.6rem;
    color:rgba(211, 206, 206, 0.7);
}

#title + p + div
{
    margin-top:40px;
}


#title + p + div img
{
    width:50px;
    height:50px;
    margin-left:23%;
    position:relative;
    left:65px;
}

#title + p + div input
{
    width:40%;
    height:60px;
    margin-left:0;
    border-radius:5px 0 0 5px;
    border:none;
    outline:none;
    font-size:2rem;
    padding-left:70px;
    padding-right:20px;
}

#title + p + div button
{
    height:60px;
    font-size:2rem;
    background-color:rgb(243, 107, 17);
    color:whitesmoke;
    padding-left:30px;
    padding-right:30px;
    border-radius:0 5px 5px 0;
    margin-left:0;
    outline:none;
    border:0;
    position:relative;
    top:0;
    left:-4px;
}

#display-region
{
    display:none;
}

.clear
{
    clear:both;
}

/*文章展示*/
.article
{
    position:relative;
    width:48%;
    float:left;
    height:180px;
    background-color:rgb(248,249,250);
    border-radius:5px;
    margin-left:20px;
    margin-top:0;
    margin-bottom:20px;
    box-shadow:0 0 2px rgb(238, 237, 237);
    /* z-index:-1; */
}
.article .img-box
{
    width:40%;
    margin:10px;
    height:160px;
    float:left;
    overflow:hidden;
}
.article .content-box
{
    width:50%;
    margin:10px;
    float:left;
}
.article .content-box .content-left
{
    float:right;
    margin-top:5px;
    font-size:1.6rem;
}
.article .content-box .content-left img
{
    width:40px;
    height:40px;
    margin-right:15px;
    border-radius:100px;
}
.article .content-box .content-left a
{
    margin-right:10px;
    color:rgba(57, 148, 223,0.7);
}
.article .content-box .content-left a:hover
{
    margin-right:10px;
    color:rgba(57, 148, 223,1);
    text-decoration:none;
}
.article .content-box .content-left span
{
    margin-left:10px;
}
.article .content-box .content-right
{
    margin-top:20px;
    float:right;
    font-size:1.6rem;
    color:orange;
}
.article .content-box .content-right img
{
    width:30px;
    height:30px;
}
.article .content-box .content-right span:nth-of-type(1)
{
    margin-right:20px;
    color:black;
    background-color:rgb(250, 220, 165);
    border-radius:10px;
    padding:8px;
}
.article .content-box hr
{
    margin-top:10px;
    margin-bottom:10px;
}
.article .content-box .title
{
    margin-top:16px;
    padding-left:20px;
    font-size:2rem;
    float:left;
}
.article .content-box .title a
{
    color:rgba(236, 86, 16,0.7);
}
.article .content-box .title a:hover
{
    color:rgba(236, 86, 16,1);
    text-decoration:none;
}
.article .content-box > img
{
    display:block;
    margin-top:16px;
    float:right;
    width:25px;
    height:25px;
}
/* .article + .article
{
    float:right;
    margin-right:1%;
} */
.article .detail-box
{
    position:absolute;
    display:none;
    width:104%;
    height:200px;
    top:-10px;
    left:-15px;
    background-color:white;
    opacity:0.8;
    padding-left:30px;
    padding-right:30px;
    border:solid 1px rgb(158, 158, 158);
    box-shadow:0 0 20px rgb(167, 166, 166);
}
.article .detail-box div
{
    margin-top:20px;
    font-size:1.6rem;
}
.article .detail-box h2
{
    color:rgba(236, 86, 16,1);
}
.article .content-box > img:hover + .detail-box
{
    display:block;
}
.article .detail-box:hover
{
    display:block;
}

.search-fail
{
    text-align:center;
    margin-top:10px;
    font-size:3rem;
    color:rgba(250, 123, 3,0.8);
}
