<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        span.highlighted {
            color: red;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <a href = "{% url 'home' %}">食全食美</a>
    {% if user.is_authenticated %}
        <a href = "{% url 'blog_list' %}">返回博客目录</a>
        <a href = "{% url 'logout' %}">退出用户</a>
        <a href = "{% url 'change_password' %}">修改用户密码</a>
    {% else %}
        <a href = "{% url 'login' %}">登录</a>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>